<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <style>
    html {
      font-size: 150%;
    }
    [v-cloak] {
      display: none;
    }
  </style>
  
</head>
<body>

  <my-web-component v-scope="MyApp()">
    <h1>${input}</h1>
    <input type="text" v-model="input" />
    <hr />
    <label>
      <input type="checkbox" v-model="checkList" value="React" />
      <span>React</span>
    </label>
    <label>
      <input type="checkbox" v-model="checkList" value="Vue" />
      <span>Vue</span>
    </label>
    <label>
      <input type="checkbox" v-model="checkList" value="Angular" />
      <span>Angular</span>
    </label>
    <h1>${checkList}</h1>
  </my-web-component>

  <script type="module">
    import { createApp } from 'https://unpkg.com/petite-vue?module';


    const MyApp = (props) => {
      return {
        input: '',
        checkList: [],
      }
    }

    class MyWebComponent extends HTMLElement {
      constructor() {
        super();
        createApp({
          MyApp,
          $delimiters: ['${', '}'],
        }).mount(this);
      }
    }
    window.customElements.define('my-web-component', MyWebComponent)

  
  </script>
</body>
</html>